$orange: hsl(25, 97%, 53%); // button numbers when hovered over? or clicked?
$white: hsl(0, 0%, 100%); // submit button
$lightGray: hsl(217, 12%, 63%); // words
$mediumGray: hsl(216, 12%, 54%); // button when clicked. Only one at a time?
$darkBlue: hsl(213, 19%, 18%); // Component background
$veryDark: hsl(216, 12%, 8%); // background
